{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} PrognozaPogody | {{ name }} ({{ country }}) {% endblock %}
{% block head %}

<style>
    #map {
        height: 300px;
        margin: auto;
        max-width: ;
    }
    #pictograms {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #info {
        padding-top: 40px;
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .plot {
        height: 200px;
        margin: auto;
        max-width: ;
    }
</style>
<script>
$(document).ready(function() {
    var timesFlot = [];
    var times = {{ times_tuples }};
    var tempValues = {{ temperature_values }};
    var pressValues = {{ pressure_values }};
    var humValues = {{ humidity_values }};

    var precip3Params = {{ precipitation_3_hours_parameters }};
    var precip6Params = {{ precipitation_6_hours_parameters }};


    var plotTempValues = [];
    var plotPressValues = [];
    var plotHumValues = [];
    var plotPrecip6Values = [];
    var plotPrecip3Values = [];

    for (var i = 0; i < times.length; i++) {
        timesFlot.push(new Date( times[i][2], times[i][0],
            times[i][1], times[i][3], times[i][4] ));
    }
    for (var i = 0; i < precip3Params.length; i++) {
        var elem = precip3Params[i][0];
        time = new Date(elem[0], elem[1], elem[2], elem[3], elem[4]);

        plotPrecip3Values.push([time, precip3Params[i][1]]);
    }
    
    for (var i = 0; i < precip6Params.length; i++) {
        var elem = precip6Params[i][0];
        time = new Date(elem[0], elem[1], elem[2], elem[3], elem[4]);

        plotPrecip6Values.push([time, precip6Params[i][1]]);
    }

    for (var i = 0; i < times.length; i++) {
        plotTempValues.push([timesFlot[i], tempValues[i]]);
        plotPressValues.push([timesFlot[i], pressValues[i]]);
        plotHumValues.push([timesFlot[i], humValues[i]]);
        
        
    }
    
    console.log('plotPrecip3Values: ' + plotPrecip3Values + ' typ: ' + 
            (Array.isArray(plotPrecip3Values))?console.log('plotPrecip3Values jest ' + 
                'tablicą'):console.log('plotPrecip3Values jest tablicą'));
    console.log('plotPrecip3Values: ' + plotPrecip3Values);
    
    
    $.plot("#plot-temperature", [ plotTempValues ], {
        colors: ['#FF0000'],
        xaxis: {
            mode: 'time',
            timestamp: '%Y%m%d %H:%M',
        },
        points:{
            show: true,
            radius: 3
        }, 
        lines: {
            show: true,
            fill: false,
            fillColor: { colors: [{ opacity: 0.7 }, { opacity: 0.1}] }
        },
    });
    $.plot("#plot-pressure", [ plotPressValues ], {
        colors: ['#00FF42'],
        xaxis: {
            mode: 'time',
            timestamp: '%Y%m%d %H:%M',
        },
        points:{
            show: true,
            radius: 3
        },
        lines: {
            show: true,
            fill: false,
            fillColor: { colors: [{ opacity: 0.7 }, { opacity: 0.1}] }
        },
    });
    $.plot("#plot-humidity", [ plotHumValues ], {
        colors: ['#0040FF'],
        xaxis: {
            mode: 'time',
            timestamp: '%Y%m%d %H:%M',
        },
        points:{
            show: true,
            radius: 3
        }, 
        lines: {
            show: true,
            fill: false,
            fillColor: { colors: [{ opacity: 0.7 }, { opacity: 0.1}] }
        },
    });
    $.plot("#plot-precipitation-6-hours", [ plotPrecip6Values ], {
        colors: ['#0040FF'],
        xaxis: {
            mode: 'time',
            timestamp: '%Y%m%d %H:%M',
        },
        points:{
            show: true,
            radius: 0
        }, 
        series: {
            bars: {
                show: true,
                barWidth: 0.4,
                align: "center"
            }
        },
    });
    $.plot("#plot-precipitation-3-hours", [ plotPrecip3Values ], {
        colors: ['#0040FF'],
        xaxis: {
            mode: 'time',
            timestamp: '%Y%m%d %H:%M',
        },
        points:{
            show: true,
            radius: 0
        }, 
        bars: {
            show: true,
            barWidth: 0.4

        },
    });


});

</script>
{% endblock head %}
{% block navbar %} {% endblock navbar %}
{% block content %}
<div class="row">
    <div>
        <hr />
        <h2> {{ name|title }} ({{ country }})</h2>
        <hr />
    </div>
</div>
<div class="row"> <!-- Wszystko ponizej navbar -->
    <div id="info" >
        <div class="col-md-4">
            <h4>Aktualna pogoda: <br />
            <small>czas lokalny: {{ current_location_time }} </small></h4><br />
            <div class="row">
                <div class="col-md-6">
                    <p><b> Szerokość geogr.: </b></p>
                    <p><b> Długość geogr.: </b></p>
                    <p><b> Temperatura:  </b></p>
                    <p><b> Ciśnienie:  </b></p>
                    <p><b> Wilgotność: </b></p>
                    <p><b> Opad:  </b></p>
                    <p><b> Zachmurzenie:  </b></p>
                </div>
                <div class="col-md-6">
                    <p> {{ lat|floatformat:2 }} </p>
                    <p> {{ lng|floatformat:2 }} </p>
                    <p> {{ current_temperature }} &#8451;</p>
                    <p> {{ current_pressure }} hPa</p>
                    <p> {{ current_humidity }} %</p>
                    <p> {{ current_precipitation }} mm</p>
                    <p> {{ current_cloudiness }} %</p>
                </div>
            </div>
            <div class="row">
                <div id="pictograms" class="text-center">
                    {% if current_precipitation > 6 and current_cloudiness < 80 %}
                        <img src="{% static 'forecast/symbols/heav_rain.jpg' %}"
                        alt="Duży opad deszczu" />
                    {% elif current_precipitation > 0 and current_precipitation <= 6 and current_cloudiness > 80 %}
                        <img src="{% static 'forecast/symbols/rain.jpg' %}" alt="Opad deszczu" />
                    {% elif current_precipitation < 10 and current_cloudiness > 80 %}
                        <img src="{% static 'forecast/symbols/clouds.jpg' %}"
                        alt="Pochmurno" />
                    {% endif %}
                    {% if  time_of_day == 'night' %} 
                        {% if current_precipitation == 0 and current_cloudiness < 20 %}
                            <img src="{% static 'forecast/symbols/moon.jpg' %}"
                            alt="Księżyc">
                        {% elif current_precipitation == 0 and current_cloudiness > 20 and current_cloudiness <= 80 %}
                            <img src="{% static 'forecast/symbols/clouds_moon.jpg' %}" alt="Niewielka ilość chmur">
                        {% elif current_precipitation > 0 and current_cloudiness > 20 and current_cloudiness <= 80 %}
                            <img src="{% static 'forecast/symbols/clouds_moon_rain.jpg' %}" alt="Zachmurzenie i niewielki deszcz">
                        {% endif %}
                    {% endif %}
                    {% if time_of_day == 'day' %} 
                        {% if current_precipitation == 0 and current_cloudiness <= 20 %}
                            <img src="{% static 'forecast/symbols/sun.jpg' %}"
                            alt="Słońce">
                        {% elif current_precipitation == 0 and current_cloudiness > 20 and current_cloudiness <= 80 %}
                            <img src="{% static 'forecast/symbols/clouds_sun.jpg' %}" alt="Niewielka ilość chmur">
                        {% elif current_precipitation > 0 and current_cloudiness > 20 and current_cloudiness <= 80%}
                            <img src="{% static 'forecast/symbols/clouds_sun_rain.jpg' %}" alt="Zachmurzenie i niewielki deszcz">
                        {% endif %}
                    {% endif %}
                </div>
            </div>
                    <div id="map" ></div>
        </div>
        </div>
            <div class="col-md-8 text-right plot">
                <div class='plot' id="plot-temperature" > </div>
                <div class='plot' id="plot-pressure" > </div>
                <div class='plot' id="plot-humidity" > </div>
                <div class='plot' id="plot-precipitation-6-hours"> </div>
                <div class='plot' id="plot-precipitation-3-hours" > </div>
            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng({{ Lat }}, {{ Lng }}), 
            zoom: 7,
        });
        var marker = new google.maps.Marker({ 
            position: {lat: {{ Lat }}, lng: {{ Lng }}},
            map: map,
            icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
        });
    marker.setMap(map)
    }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8txt-tQXwWaOSMdkL7R8KNKK3K7SN4P8&callback=initMap" async defer> type="text/javascript"></script>
<script src="{% static 'js/flot/jquery.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.time.js' %}"></script>
{% endblock content %}

