{% extends "base.html" %}
{% load static %}

{% block title %} {{ name }} ({{ country }}) {% endblock %}
{% block head %}

<meta name="viewport" content="initial-scale=1.0" />
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 500px;
        width: 500px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
{% endblock head %}
{% block content %}

<p> Lokalizacja: {{ name|title }} </p>
<p> Szerokość geograficzna: {{ lat }} </p>
<p> Długość geograficzna: {{ lng }} </p>
<p> Stan na: {{ current_time }} </p>
<p> Temperatura: {{ current_temperature }} </p>
<p> Ciśnienie: {{ current_pressure }} </p>
<p> Wilgotność: {{ current_humidity }} </p>
<p> Opad: {{ current_precipitation }} </p>
<p> Zachmurzenie: {{ current_cloudiness }} </p>

<div id="map"></div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: {{ Lat }}, lng: {{ Lng }} },
            zoom: 8
        });
    }
</script>
<img src="{% static 'forecast/plots/plot.png' %}" alt="Wykresy parametrów
meteo i opadów" />




<p> URL: {{ url }} </p>
<p> Dane meteo: {{ data }} </p>
<p> Dane opadowe 6-cio godzinne: {{ data1 }} </p>
<p> Dane opadowe 3 godzinne: {{ data2 }} </p>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO_1_t4RPgXXqBmpKu30xYC_cBH_yj8po&callback=initMap" async defer> type="text/javascript"></script>
{% endblock content %}

