{% extends "base.html" %}

{% block head %}
<style>
#mainBlock {
    margin-top: 120px;
}
</style>
{% endblock head %}

{% block content %}
<div id="mainBlock" class="starter-template">
    <p class="lead"> Czy będzie padać? Jaka będzie temperatura? Jaka jest
    teraz pogoda? Na te i inne pytania dotyczące prognozy pogody dla
    wybranego
    przez Ciebie miasta lub miejscowości znajdziesz odpowiedź wpisujac
    jego/jej nazwę w pole wyszukiwania na górze strony.</p>
</div>

{% endblock content %}
